.Comic {
  width: 100%;
  display: block;
}

.Comic Ul{
  list-style: none;
  overflow: hidden;
}

.Comic li {
  color: #2d2d2d;
  font-size: 18px;
  text-align: justify;
  display: block;
  padding: 5px;
}

.Comic_box {
  display: block;
}
