.Footer {
  text-align: center;
  color: #fff;
}

.Footer-box {
  background-color: #2d2d2d;
  height: 250px;
  padding: 20px;
}

.Footer-col {
  text-align: justify;
  color: #7a7a7a;
}

.Footer-title {
  text-align: center;
  color: #fff;
}
